In [9]:
import pandas as pd

df_weather = pd.read_csv('./weather.csv')
df_weather.head(5)

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,10/13/2014,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,10/14/2014,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,10/15/2014,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,10/16/2014,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,10/17/2014,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain

In [11]:

df_station = pd.read_csv('station.csv')
df_station.head(5)

,station_id,name,lat,long,install_date,install_dockcount,modification_date,current_dockcount,decommission_date
0,BT-01,3rd Ave & Broad St,47.618418,-122.350964,10/13/2014,18,NaN,18,NaN
1,BT-03,2nd Ave & Vine St,47.615829,-122.348564,10/13/2014,16,NaN,16,NaN
2,BT-04,6th Ave & Blanchard St,47.616094,-122.341102,10/13/2014,16,NaN,16,NaN
3,BT-05,2nd Ave & Blanchard St,47.613110,-122.344208,10/13/2014,14,NaN,14,NaN
4,CBD-03,7th Ave & Union St,47.610731,-122.332447,10/13/2014,20,NaN,20,NaN

In [37]:
df_trip = pd.read_csv('./trip.csv', error_bad_lines=False)
df_trip

b'Skipping line 50794: expected 12 fields, saw 20\n'

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0
...,...,...,...,...,...,...,...,...,...,...,...,...
286852,255241,8/31/2016 23:34,8/31/2016 23:45,SEA00201,679.532,Harvard Ave & E Pine St,2nd Ave & Spring St,CH-09,CBD-06,Short-Term Pass Holder,NaN,NaN
286853,255242,8/31/2016 23:48,9/1/2016 0:20,SEA00247,1965.418,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286854,255243,8/31/2016 23:47,9/1/2016 0:20,SEA00300,1951.173,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286855,255244,8/31/2016 23:49,9/1/2016 0:20,SEA00047,1883.299,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN
286856,255245,8/31/2016 23:49,9/1/2016 0:20,SEA00442,1896.031,Cal Anderson Park / 11th Ave & Pine St,6th Ave S & S King St,CH-08,ID-04,Short-Term Pass Holder,NaN,NaN

In [43]:
# the average trip duration for a borrowed bicycle?
avg = df_trip[['tripduration']].mean()
avg

tripduration    1178.295675
dtype: float64

In [52]:
#the most common age of a bicycle-sharer
most_common = (2021 - df_trip['birthyear'].mode())
most_common

0    34.0
dtype: float64

In [35]:
# Q5 #Given all the weather data here, find the average precipitation per month, and the median precipitation.

Precipitation_In = df_weather['Precipitation_In'].mean()
Precipitation_In

0.10506531204644412

In [36]:
# Q5 #Given all the weather data here, find the average precipitation per month, and the median precipitation.

Precipitation_In_meadian = df_weather['Precipitation_In'].median()
Precipitation_In_meadian

0.0

In [58]:
#Whatâ€™s the average number of bikes at a given bike station
average_number_of_bikes = df_station['install_dockcount'].mean()
average_number_of_bikes

17.586206896551722

In [21]:
#When a bike station is modified, is it more likely that itâ€™ll lose bikes or gain bikes? How do you know?
# because the deffirence negative
modified = df_station[['modification_date','install_dockcount','current_dockcount']].dropna() #remove any row with no value
modified
modified_current_dockcount = modified['current_dockcount'].sum()
modified_install_dockcount = modified['install_dockcount'].sum()
current_value = modified_current_dockcount - modified_install_dockcount
current_value

-64

In [23]:
#extra question 1
df_weather['Max_Temperature_F'].max()

98

In [24]:
#extra question 2
df_weather['Max_Temperature_F'].mean()

64.02757619738752

In [54]:
#extra question 3

df_weather['Max_Temperature_F'].median()

63.0

In [60]:
# tests

def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(Precipitation_In, 0.10506531204644412)
    assert_equal(current_value, -64)
    assert_equal(average_number_of_bikes, 17.586206896551722)
    

    print("Success!!!")

test()

Success!!!